{% block content %}
<h4 class="table-header">После 9 класса</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Код</th>
            <th scope="col">Специальность</th>
            <th scope="col">Корпус обучения</th>
            <th scope="col">Срок обучения</th>
            <th scope="col">План приема</th>
            <th scope="col">Количество поданных заявлений через портал mos.ru</th>
            <th scope="col">Количество человек, сдавших оригиналы</th>
            <th scope="col">Средний балл по оригиналам</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in response.response09.items %}
        <tr>
            {% for k, v in value.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h4 class="table-header">После 11 класса</h4>
<table class="table table-striped">
   
    <thead>
        <tr>
            <th scope="col">Код</th>
            <th scope="col">Специальность</th>
            <th scope="col">Корпус обучения</th>
            <th scope="col">Срок обучения</th>
            <th scope="col">План приема</th>
            <th scope="col">Количество поданных заявлений через портал mos.ru</th>
            <th scope="col">Количество человек, сдавших оригиналы</th>
            <th scope="col">Средний балл по оригиналам</th>
        </tr>
    </thead>
    <tbody>
        {% for key, value in response.response11.items %}
        <tr>
            {% for k, v in value.items %}
            <td>{{ v }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}